<!DOCTYPE html>
<html class="dark">
  <head>
    <title><%= content_for(:title) || "Timevoice" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Timevoice" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#1d2021" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/icon.png" />

    <%= javascript_include_tag "https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit", "data-turbo-track": "reload", defer: true %>

    <%= vite_client_tag %> <%= vite_typescript_tag "inertia" %> <%=
    inertia_ssr_head %>
  </head>

  <body class="bg-bg-primary text-fg-primary antialiased">
    <%= yield %>
  </body>
</html>
